<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="header_style_form"></div>
    <!-- Your content here -->
    <header>
	    <div class="header_home">
		<div class="header_home_items">
			<img class="header_logo" src="/static/assets/placeholder.jpg">
		</div>
	    </div>
    </header>
    <div class="home_top">
	    <div class="top_info">
		    <h1>11° Semana de Ciência da Computação e Tecnologia da Informação</h1>
		    <hr class="white_hr">
		    <p class="caption">Uma semana inteira de conteúdos, que acontecerá entre os dias 8 a 13 de novembro, sendo transmitido por uma plataforma privada no Discord!</p>
	    </div>
    </div>
</body>
</html>
