<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/payment.css" />

    <title>SCTI - Comprar</title>
  </head>
  <body>
    <main>
      <h2 class="main-title">scti</h2>
      <div class="form-container">
        <form>
          <label class="form-control">
            <input type="radio" name="payment" id="pix" checked/>
           PIX
          </label>

          <label class="form-control">
            <input type="radio" name="payment" id="bar-code" />
            Código de Barras
          </label>
        </form>
        <div class="response-container">
          <span class="response">
            <img src="/static/assets/placeholder.jpg" alt="" />

          </span>
        </div>
      </div>
      <button class="pink-pixel-button" id="confirm-button" type="submit">
        <img src="/static/assets/home/button.svg" />
        <p>confirmar</p>
      </button>
    </main>
  </body>
</html>
