<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/payment.css" />

    <title>SCTI - Comprar</title>
  </head>
  <body>
    <main>
      <h2 class="main-title">scti</h2>
      <div class="form-container">
        <form>
          <label class="form-control">
            <input type="radio" name="payment" id="pix" onclick="switchResponse()" checked/>
           PIX
          </label>

          <label class="form-control">
            <input type="radio" name="payment" id="bar-code" onclick="switchResponse()"/>
            Código de Barras
          </label>
        </form>
        <div class="response-out">
          <div class="response-container">
          <span class="response"></span>
          </div>
        </div>
      </div>
      <button class="pink-pixel-button" id="confirm-button" type="submit">
        <img src="/static/assets/home/button.svg" />
        <p>confirmar</p>
      </button>
    </main>
  </body>
</html>

<script>

  getCurrentRadio =  () =>{
    currentRadio = document.querySelector("input[type=\"radio\"]:checked")
    console.log(currentRadio.id)
  }

  switchResponse = () => {
    response = document.querySelector(".response")

    getCurrentRadio()

    if(currentRadio.id == "pix"){
      responseContainer.replaceChild(img, response)
    }else{
      responseContainer.replaceChild(barCode, response)
    }
  }

  responseContainer = document.querySelector(".response-container")

  img = document.createElement("img")
  img.setAttribute("src", "/static/assets/placeholder.jpg")
  img.classList.add("response")

  barCode = document.createElement("p")
  barCodeText = document.createTextNode("lorem impsum lorem lorem lorem")
  barCode.appendChild(barCodeText)
  barCode.classList.add("response")

</script>
