<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>My Website</title>
      <link rel="stylesheet" href="/static/css/lncc.css">
  </head>
  <body>
      <header>
        <div>LOGO</div>
      </header>
      <main>
        <div class="title" align="center">
          <h1>
            Visita ao LNCC
          </h1>
        </div>
        <div class="flex-button">
          <div class="flex-container">
            <div class="main" align="center">
              <p>
                Texto informativo e rapido sobre a visita
              <p>
              </p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Etiam erat velit scelerisque in dictum non consectetur a erat. Et ligula ullamcorper malesuada proin libero nunc consequat
              </p>
              <!-- Possível imagem do LNCC à direita do texto -->
            </div>
            <img src="/static/assets/placeholder.jpg" alt="IMAGE" style="width:100px; height:100px;">
          </div>
          <input type="button", value="Participe">
        </div>
        <div class="about" align="center">
          <h2>Sobre a visita</h2>
          <p>
            explicação detalhada da viagem data de partida
            preço, tempo, horas, rotina, etc
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Etiam erat velit scelerisque in dictum non consectetur a erat. Et ligula ullamcorper malesuada proin libero nunc consequat. Tincidunt eget nullam non nisi est sit amet facilisis. Amet nisl suscipit adipiscing bibendum est ultricies integer. Ornare quam viverra orci sagittis eu. Amet mattis vulputate enim nulla aliquet porttitor. Commodo ullamcorper a lacus vestibulum sed arcu. Nisi quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus. Sit amet porttitor eget dolor morbi non arcu. Sed egestas egestas fringilla phasellus faucibus. Sed ullamcorper morbi tincidunt ornare massa eget. Natoque penatibus et magnis dis parturient montes nascetur. Nunc vel risus commodo viverra maecenas accumsan lacus vel facilisis.
          </p>
        </div>
      </main>
      <footer>
        <!-- Seção de fale conosco -->
        <div>
          Fale conosco
        </div>
      </footer>
  </body>
</html>
