<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/home.css">
	 <link rel="stylesheet" href="/static/css/notfound.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap" rel="stylesheet">
	<title> 
		404, Página Não Encontrada
	</title>
</head>

<body>
	<div class="not-found">
		<span>404, página não encontrada </span>	
		<button class ="button-submmit">
		<a href="/">
   			<p>Página Inicial</p>
		</a>
		</button>
	</div>

	
</body>

</html>

