<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/patrocinadores.css">
    <title>Patrocinadores</title>
  </head>
    <body>

        <div class="header-nav">
          <h2 class="nav-title-pixel">scti</h2>
          <div class="navs-container">
            <nav>
              <a href="/#about">
                Sobre
              </a>
            </nav>
            <nav>
              <a href="/#sponsors-buttons-container">
                Programação
              </a>
            </nav>
            <nav>
              <a href="#contact">
                Contato
              </a>
            </nav>
              <a href="/login" class="pink-pixel-button" id="last-nav">
                <img src="/static/assets/home/button.svg" />
                <p>Entrar</p>
              </a>
          </div>
        </div>

      <div class="sponsors">
        <h1 class="main-title">Patrocinadores</h1>
        <div class="sponsors-image-text-container">
            <div class="sponsors-type-header">
              <h3>Diamante</h3>
              <img src="/static/assets/home/painteddiamongsponsors.svg" alt="">
            </div>
            <div class="benefits">
              <h2>Quanto ao patrocínio por parte da empresa </h2>
              <p>Compromete-se a investir no evento qualquer recurso avaliado em no mínimo R$ 1200,00</p>
              <h2>Quanto aos benefícios para a empresa</h2>
              <ul>
                <li>Quatro inscrições de cortesia;</li>
                <li>Direito a estampar, nos computadores utilizados nos minicursos, o wallpaper fornecido pela empresa;</li>
                <li>Direito à distribuição de material de marketing pela empresa patrocinadora durante o evento;</li>
                <li>Divulgação audiovisual nos intervalos das palestras (70% do tempo de divulgação destina-se a modalidade diamante);</li>
                <li>Direito a banner ou cartaz nos ambientes de coffee break;</li>
                <li>Área dedicada aos patrocinadores no site e nas redes sociais do evento.</li>
              </ul>
            </div>
        </div>

        <div class="sponsors-image-text-container">
            <div class="sponsors-type-header">
              <h3>Ouro</h3>
              <img src="/static/assets/home/goldsponsor.svg" alt="">
            </div>

            <div class="benefits">
              <h2>Quanto ao patrocínio por parte da empresa </h2>
              <p>Compromete-se a investir no evento qualquer recurso avaliado em no minímo R$ 700,00</p>
              <h2>Quanto aos benefícios para a empresa</h2>
              <ul>
                <li>Direito a banner ou cartaz nos ambientes de coffee break;</li>
                <li>Quatro inscrições de cortesia;</li>
                <li>Área dedicada aos patrocinadores no site e nas redes sociais do evento.</li>
              </ul>
            </div>
        </div>

        <div class="sponsors-image-text-container">
            <div class="sponsors-type-header">
              <h3>Prata</h3>
              <img src="/static/assets/home/silversponsor.svg" alt="">
            </div>

            <div class="benefits">
              <h2>Quanto ao patrocínio por parte da empresa </h2>
              <p>Compromete-se a investir no evento qualquer recurso avaliado em no mínimo R$ 400,00</p>
              <h2>Quanto aos benefícios para a empresa</h2>
              <ul>
                <li>Área dedicada aos patrocinadores no site e nas redes sociais do evento</li>
              </ul>
            </div>
        </div>

        <button class="pink-pixel-button" id="become-sponsor-button">
          <a href="mailto:scti@gmail.com?subject=Quero%20ser%20um%20patrocinador&body=Tenho%20interesse%20em%20patrocinar%20o%20evento!">
          <img src="/static/assets/home/button.svg"/>
          <p>seja um patrocinador</p>
          </a>
        </button>
    </div>

    <footer>
      <p>Copyright © 2024 SCTI - Todos os direitos reservados</p>
    </footer>

    </body>

</html>
