<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/patrocinadores.css">
    <title>Patrocinadores</title>
  </head>
    <body>

        <div class="header-nav">
          <h2 class="nav-title-pixel">scti</h2>
          <div class="navs-container">
            <nav>
              <a href="/#about">
                Sobre
              </a>
            </nav>
            <nav>
              <a href="/#sponsors-buttons-container">
                Programação
              </a>
            </nav>
            <nav>
              <a href="#contact">
                Contato
              </a>
            </nav>
            <button class="pink-pixel-button" id="last-nav">
              <a href="/signup">
                <img src="/static/assets/home/button.svg" />
                <p>Inscreva-se</p>
              </a>
            </button>
          </div>
        </div>



      <div class="sponsors">
        <h1 class="main-title">patrocinadores</h1>

        <div class="sponsors-image-text-container">
            <div class="sponsors-type-header">
              <h3>diamante</h3>
              <img src="/static/assets/home/painteddiamongsponsors.svg" alt="">
            </div>
            <div class="sponsors-images-container">
              <img src="/static/assets/home/sponsors-image.svg" alt="">
              <img src="/static/assets/home/sponsors-image.svg" alt="">
              <img src="/static/assets/home/sponsors-image.svg" alt="">
            </div>
            <div class="benefits">
              <h2>Quanto ao patrocínio por parte da empresa </h2>
              <p>Compromete-se a investir no evento qualquer recurso avaliado em no minímo R$ 1000,00</p>
              <h2>quanto aos benefícios para a empresa</h2>
              <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae in eligendi neque dicta dolores architecto deleniti officia ipsa aspernatur, sunt provident facilis minus eos officiis quibusdam qui, porro ex laboriosam!</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae in eligendi neque dicta dolores architecto deleniti officia ipsa aspernatur, sunt provident facilis minus eos officiis quibusdam qui, porro ex laboriosam!</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae in eligendi neque dicta dolores architecto deleniti officia ipsa aspernatur, sunt provident facilis minus eos officiis quibusdam qui, porro ex laboriosam!</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae in eligendi neque dicta dolores architecto deleniti officia ipsa aspernatur, sunt provident facilis minus eos officiis quibusdam qui, porro ex laboriosam!</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae in eligendi neque dicta dolores architecto deleniti officia ipsa aspernatur, sunt provident facilis minus eos officiis quibusdam qui, porro ex laboriosam!</li>
              </ul>
            </div>
        </div>

        <div class="sponsors-image-text-container">
            <div class="sponsors-type-header">
              <h3>ouro</h3>
              <img src="/static/assets/home/goldsponsor.svg" alt="">
            </div>

            <div class="sponsors-images-container">
              <img src="/static/assets/home/sponsors-image.svg" alt="">
              <img src="/static/assets/home/sponsors-image.svg" alt="">
              <img src="/static/assets/home/sponsors-image.svg" alt="">
            </div>

            <div class="benefits">
              <h2>Quanto ao patrocínio por parte da empresa </h2>
              <p>Compromete-se a investir no evento qualquer recurso avaliado em no minímo R$ 700,00</p>
              <h2>quanto aos benefícios para a empresa</h2>
              <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae in eligendi neque dicta dolores architecto deleniti officia ipsa aspernatur, sunt provident facilis minus eos officiis quibusdam qui, porro ex laboriosam!</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae in eligendi neque dicta dolores architecto deleniti officia ipsa aspernatur, sunt provident facilis minus eos officiis quibusdam qui, porro ex laboriosam!</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae in eligendi neque dicta dolores architecto deleniti officia ipsa aspernatur, sunt provident facilis minus eos officiis quibusdam qui, porro ex laboriosam!</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae in eligendi neque dicta dolores architecto deleniti officia ipsa aspernatur, sunt provident facilis minus eos officiis quibusdam qui, porro ex laboriosam!</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae in eligendi neque dicta dolores architecto deleniti officia ipsa aspernatur, sunt provident facilis minus eos officiis quibusdam qui, porro ex laboriosam!</li>
              </ul>
            </div>
        </div>

        <div class="sponsors-image-text-container">
            <div class="sponsors-type-header">
              <h3>prata</h3>
              <img src="/static/assets/home/silversponsor.svg" alt="">
            </div>

            <div class="sponsors-images-container">
              <img src="/static/assets/home/sponsors-image.svg" alt="">
              <img src="/static/assets/home/sponsors-image.svg" alt="">
              <img src="/static/assets/home/sponsors-image.svg" alt="">
              </div>
            <div class="benefits">
              <h2>Quanto ao patrocínio por parte da empresa </h2>
              <p>Compromete-se a investir no evento qualquer recurso avaliado em no minímo R$ 500,00</p>
              <h2>quanto aos benefícios para a empresa</h2>
              <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae in eligendi neque dicta dolores architecto deleniti officia ipsa aspernatur, sunt provident facilis minus eos officiis quibusdam qui, porro ex laboriosam!</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae in eligendi neque dicta dolores architecto deleniti officia ipsa aspernatur, sunt provident facilis minus eos officiis quibusdam qui, porro ex laboriosam!</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae in eligendi neque dicta dolores architecto deleniti officia ipsa aspernatur, sunt provident facilis minus eos officiis quibusdam qui, porro ex laboriosam!</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae in eligendi neque dicta dolores architecto deleniti officia ipsa aspernatur, sunt provident facilis minus eos officiis quibusdam qui, porro ex laboriosam!</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae in eligendi neque dicta dolores architecto deleniti officia ipsa aspernatur, sunt provident facilis minus eos officiis quibusdam qui, porro ex laboriosam!</li>
              </ul>
            </div>
        </div>

        <button class="pink-pixel-button" id="become-sponsor-button">
          <a href="mailto:scti@gmail.com?subject=Quero%20ser%20um%20patrocinador&body=Tenho%20interesse%20em%20patrocinar%20o%20evento!">
          <img src="/static/assets/home/button.svg"/>
          <p>seja um patrocinador</p>
          </a>
        </button>

    </div>

    </body>

</html>
