<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/credentials.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>

    <title>Sign-up</title>
  </head>
  <body>
    <div class="container-form">
      <form hx-post="/signup" hx-target="#error-messages" hx-swap="innerHTML">
        <table>
          <tr>
            <p> SCTI </p>
            <div id="error-messages"></div>
            <!--  <img src="static/assets/logo.svg" alt="Descrição da imagem" width="200" height="100"> -->
          </tr>
          <tr>
            <td><label>Nome</label></td>
            <td><input name="Nome" type="text"></td>
          </tr>

          <tr>
            <td><label>Email</label></td>
            <td><input name="Email" type="email"></td>
          </tr>

          <tr>
            <td><label>Senha</label></td>
            <td><input name="Senha" type="password"></td>
          </tr>
        </table>
        <br>
        <input class="button-submmit" type="submit" value="Enviar">
        <a href="login">Já tem conta?</a>
      </form>
    </div>
  </body>
</html>
