<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificar conta</title>
  </head>
  <body>
    Conta verificada com sucesso!
		<a href="/dashboard">
      <button>Participe</button>
	  </a>
  </body>
</html>
