html, body{
	min-height: 100%;
	color: #EEE;
}

body {
	min-width: 320px;
}
header .header-nav {
	display: flex;
	width: 100%;
	height: 20%;
	justify-content: space-between;
	padding-top: 20px;
	color: #EEE;
	margin-bottom: 50px;
}

header .header-nav .nav-title-pixel {
	font-size: 26px;
	font-family: 'Joystix';
	margin-left: 15px;
}


header .header-nav .navs-container {
	width: 40%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	gap: 5px;
	margin: 0 20px;
}

header .header-nav .navs-container nav {
	font-size: 18px;
	cursor: pointer;
}

header .header-nav .navs-container nav:last-child {
	cursor: pointer;
	height: 36px;
	line-height: 34px;
	font-size: 18px;
	background-color: #FF00C7;
	font-family: "Joystix";
	border-radius: 14px;
	color: #eee;
	transition: .4s;
}

header .header-nav .navs-container nav:last-child:hover {
	letter-spacing: 1px;
	background-color: #030932;
	color: #FF00C7;
}

header .header-home {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

header .header-home .header-logo {
	width: 383px;
	height: 174px;
}

.home-top {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 30px;
}

.home-top h1 {
	color: #fff;
	font-size: 30px;
	font-weight: 600;
	line-height: 64px;
}

.caption {
	font-size: 18px;
}

.pink-pixel-button {
	background-color: #FF00C7;
	font-family: "Joystix";
	outline: none;
	border: none;
	border-radius: 14px;
	font-size: 34px;
	color: #eee;
	cursor: pointer;
	transition: .4s;
}

.pink-pixel-button:hover {
	letter-spacing: 2px;
	background-color: #030932;
	color: #FF00C7;
}

.home-activities {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.home-activities .main-title {
	font-size: 4em;
    font-family: "joystix";
	-webkit-text-stroke: 0.06px rgba(0, 0, 0, 1); 
	filter: drop-shadow(0 0.06em rgba(93, 10, 157, 1));
	background: linear-gradient(to bottom, white 56%, #CFCFCF 56%);
	background-clip: text;
	padding: 0.5em 0 0.5em 0;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.home-activities .days-container {
	margin: 3em 0 1.5em 0;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 3em;
}

.home-activities .days-container .button-weekday {
	width: 7em;
	position: relative;
    margin: 0;
	padding: 0;
	border: none;
	background: none;
}

.home-activities .days-container .button-weekday img {
	width: 100%;
	cursor: pointer;
	fill: #c8ccff;
	color: #c8ccff;
	transition: all 0.5s;
	filter: invert(74%) sepia(15%) saturate(998%) hue-rotate(200deg) brightness(106%) contrast(106%);
}

.home-activities .days-container .button-weekday p {
	position: absolute;
	left: 50%;
	color: black;
	font-size: 1em;
	transform: translate(-50%, -50%);
	top: calc(50% - 1.5px);
	font-family: "Joystix";
	pointer-events: none;
	transition: all 0.5s;
	filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0));
}

.home-activities .days-container .button-weekday.selected img,
.home-activities .days-container .button-weekday:hover img {
	filter: invert(15%) sepia(92%) saturate(6078%) hue-rotate(305deg) brightness(98%) contrast(97%);
}

.home-activities .days-container .button-weekday.selected p,
.home-activities .days-container .button-weekday:hover p {
	color: rgba(255, 255, 255, 1);

	text-shadow: 2px 0 rgba(255, 0, 199, 1), -2px 0 rgba(255, 0, 199, 1), 0 2px rgba(255, 0, 199, 1), 0 -2px rgba(255, 0, 199, 1),
	1px 1px rgba(255, 0, 199, 1), -1px -1px rgba(255, 0, 199, 1), 1px -1px rgba(255, 0, 199, 1), -1px 1px rgba(255, 0, 199, 1);
	filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}

.home-activities .activity-container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 350px;
	margin-bottom: 6em;
}

.home-activities .activity-container .activity {
	position: relative;
}

.home-activities .activity-container .left-button {
	margin-right: 1.2em;
	transition: transform 1s;
}

.home-activities .activity-container .right-button {
	margin-left: 1.2em;
	transform: rotateY(180deg);
}

.home-activities .activity-container .left-button,
.home-activities .activity-container .right-button {
	cursor: pointer;
	transition: transform 0.5s;
}

.home-activities .activity-container .left-button:hover {
	opacity: 0.5;
	transform: scale(1.1);
}

.home-activities .activity-container .right-button:hover {
	opacity: 0.5;
	transform: rotateY(180deg) scale(1.1);
}

.home-activities .activity-container .activity .type {
	position: absolute;
	font-family: "Joystix";
	font-size: 2em;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
	margin: 0.8em 0 0.4em 0;
    text-transform: uppercase;
	color: rgba(255, 0, 199, 1);
	text-shadow: 2px 0 rgba(217, 217, 217, 1), -2px 0 rgba(217, 217, 217, 1), 0 2px rgba(217, 217, 217, 1), 0 -2px rgba(217, 217, 217, 1),
	1px 1px rgba(217, 217, 217, 1), -1px -1px rgba(217, 217, 217, 1), 1px -1px rgba(217, 217, 217, 1), -1px 1px rgba(217, 217, 217, 1);
	filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}

.home-activities .activity-container .activity .back  {
	position: absolute;
	z-index: -2;
	right: -10px;
	bottom: 2.5em;
}

.home-activities .activity-container .activity .details {
	position: absolute;
	display: flex;
	align-items: center;
	column-gap: 0.5em;
	height: 63%;
	width: 100%;
	top: 22%;
	color: black;
	padding: 0 1em 0 1em;
}

.home-activities .activity-container .activity .details p {
	font-family: "Joystix";
}

.home-activities .activity-container .activity .details .vertical-line {
	height: 100%;
	width: 4px;
	background-color: rgba(26, 30, 83, 1);
	border: 2px solid rgba(255, 255, 255, 1);
}

.home-activities .activity-container .activity .details .speaker-container {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 0.7em;
}

.home-activities .activity-container .activity .details .speaker-container .perfil {
	position: relative;
	width: 100%;
}

.home-activities .activity-container .activity .details .speaker-container .perfil .outer {
	width: 100%;
	filter: invert(10%) sepia(68%) saturate(2419%) hue-rotate(227deg) brightness(88%) contrast(97%);
}

.home-activities .activity-container .activity .details .speaker-container .perfil .inner {
	position: absolute;
	top: calc(50% - 2.5px);
	left: 50%;
	transform: translate(-50%, -50%);
	width: 95%;
	filter: invert(99%) sepia(21%) saturate(477%) hue-rotate(111deg) brightness(122%) contrast(100%);
}

.home-activities .activity-container .activity .details .speaker-container .perfil .placeholder {
	position: absolute;
	top: calc(50% - 2.5px);
	left: 50%;
	width: 70%;
	transform: translate(-50%, -50%);
}

.home-activities .activity-container .activity .details .speaker-container .speaker {
	width: 100%;
	font-size: 0.8em;
	text-align: center;
	white-space: nowrap;
}

.home-activities .activity-container .activity .details .info {
	display: flex;
    flex-direction: column;
    height: 90%;
	width: 60%;
}
.home-activities .activity-container .activity .details .info .topic {
	flex: 0 0 20%;
	font-family: "Joystix";
	color: black;
	font-size: 0.9em;
}

.home-activities .activity-container .activity .details .info .time {
	flex: 0 0 20%;
	font-size: 1.2em;
	font-weight: 500;
}

.home-activities .activity-container .activity .details .info .description {
	flex: 1;
	font-size: 0.8em;
}

.home-activities .activity-container .activity .details .info p {
	font-family: "Inter";
	color: rgba(0, 38, 68, 1);
	text-overflow: ellipsis;
    overflow: hidden;
}

.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
}