html,
body {
  min-height: 100%;
  color: #eee;
}

body {
  min-width: 600px;
}

.sponsors {
  display: flex;
  flex-direction: column;
  gap: 70px;
	align-items: center;
  margin-bottom: 60px;
}

.sponsors .main-title{
	font-size: 4em;
  font-family: "joystix";
  -webkit-text-stroke: 0.06px rgba(0, 0, 0, 1);
  filter: drop-shadow(0 0.06em rgba(93, 10, 157, 1));
  background: linear-gradient(to bottom, white 56%, #feb0dc 56%);
  background-clip: text;
  padding: 0.5em 0 0.5em 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sponsors .sponsors-image-text-container{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.sponsors-type-header{
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto 4em;
	gap: 20px;
}

p, li {
  font-family: "Inter";
}

.sponsors-type-header h3{
	font-family: "Joystix";
	font-size: 2.2em;
}

.benefits{
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.benefits h2{
  font-family: "Joystix";
  font-size: 1.5em;
}

.benefits p{
  font-size: 1.3em;
  margin-bottom: 12px;
  opacity: .8;
}

.benefits li{
  font-size: 1.2em;
  opacity: .8;
}

.benefits ul{
  list-style: disc;
  margin-left: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#become-sponsor-button {
  width: 200px;
  margin-bottom: 60px;
}

#become-sponsor-button a {
  display: flex;
  align-items: center;
  justify-content: center;
}

#become-sponsor-button a img {
  height: auto;
}

#become-sponsor-button p {
  font-size: 1.4em;
}


@media (min-width: 577px) and (max-width: 768px){
  .sponsors .main-title{
    font-size: 2.8em;
  }

  .benefits{
    width: 90%;
  }

  .benefits h2{
    font-size: 1.2em;
  }

  .benefits p,
  .benefits li{
    font-size: 1em;
  }

  .benefits ul{
    margin-left: 0;
  }

  #become-sponsor-button {
    width: 175px;
    margin-bottom: 60px;
  }

  #become-sponsor-button p {
    font-size: 1.2em;
  }
}


@media (max-width: 576px){

  .sponsors .main-title{
    font-size: 2em;
  }

  .sponsors-type-header h3{
    font-family: "Joystix";
    font-size: 1.7em;
  }

  .benefits{
    width: 85%;
  }

  .benefits h2{
    font-size: 1.1em;
  }

  .benefits p,
  .benefits li{
    font-size: .9em;
  }

  .benefits ul{
    margin-left: 0;
  }

  #become-sponsor-button {
    width: 155px;
    margin-bottom: 40px;
  }

  #become-sponsor-button p {
    font-size: 1em;
  }

}
